<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bara_x.assistantdayr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssistantDayr">
        <activity
            android:name=".Transport.Activity.CartDescription"
            android:exported="false" />
        <activity
            android:name=".Transport.DescriptionActivityTransport"
            android:exported="false" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".listActivity.SurvivalListActivity"
            android:exported="false" />
        <activity
            android:name=".Transport.TransportListActivity"
            android:exported="false" />
        <activity
            android:name=".listActivity.WeaponListActivity"
            android:exported="false" />
        <activity
            android:name=".listActivity.EquipmentListActivity"
            android:exported="false" />
        <activity
            android:name=".listActivity.EnemyListActivity"
            android:exported="false" />
        <activity
            android:name=".listActivity.ComponentsListActivity"
            android:exported="false" />
        <activity
            android:name=".listActivity.CharacterListActivity"
            android:exported="false" />
        <activity
            android:name=".listActivity.FoodListActivity"
            android:exported="false" />
        <activity
            android:name=".medicine.MedicineListActivity"
            android:exported="false" />
        <activity
            android:name=".splashActivity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listActivity.QuestListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>